@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --ck-border-radius: 0.5rem !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main {
  @apply pt-20;
}

.ck-content {
  @apply prose border border-slate-400 rounded;
  @apply min-h-[400px] max-w-none;
}

.ck-content a {
  @apply text-blue-500;
}

span.added {
  background-color: lightgreen;
}

span.removed {
  background-color: salmon;
  text-decoration: line-through;
}
